<link rel="stylesheet" href="main.css" />
<header class="main-header">
    <nav class="nav main-header-nav">
      <ul>
        <li><a class="header-nav" href="information">Services</a></li>
        <li><a class="header-nav" href="about">About Us</a></li>
        <li><a class="header-nav" href="contact">Contact</a></li>
      </ul>
    </nav>
</header>
