<!DOCTYPE html>
<html lang="en">

<body>
    <main>
        <section class="top-section about-background">
            <h1 class="service-h1">About Us</h1>
        </section>

        <section class="service-description-section">
            <div class="content-section-container">
                <img class="service-img-right" src="https://images.unsplash.com/photo-1486406146926-c627a92ad1ab?ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA%3D%3D&auto=format&fit=crop&w=1470&q=80">
                <h2 class="service-description-h2">About Us</h2>
                <p>Hagos Marketing offers small to medium-sized businesses custom solutions to grow. 
                    From sales development to creative branding, our experts can design a plan to 
                    achieve the expected results in the desired time frame.
                    Our success is measured by your profit growth. Learn how we can help build your 
                    customer base.</p>
                <button type="button" class="btn">Join Us</button>
            </div>
        </section>
    </main>
</body>

</html>
