<!DOCTYPE html>
<html lang="en">

<body>
    <main>
        <section class="contact-top">
            <h1 class="contact-h1">CONTACT US</h1>
        </section>
        <section class="contact-top">
            <img class="contact-img" src="https://images.unsplash.com/photo-1516387938699-a93567ec168e?ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA%3D%3D&auto=format&fit=crop&w=1471&q=80">
        </section>
        <section class="contact-section">
            <div class="contact-container">
                <h2 class="contact-h2">HOURS</h2>
                <p class="contact-p">Monday-Friday: 9am-5pm</p>
                <p class="contact-p">Saturday-Sunday: Closed</p>
            </div>
            <div class="contact-container">
                <h2 class="contact-h2">EMAIL</h2>
                <p class="contact-p">Email@email.com</p>
                <h2 class="contact-h2">PHONE NUMBER</h2>
                <p class="contact-p">(xxx)-xxx-xxxx</p>
            </div>
            <div class="contact-container">
                <h2 class="contact-h2">INSTAGRAM</h2>
                <p class="contact-p">Hagos.marketing</p>
                <h2 class="contact-h2">FACEBOOK</h2>
                <p class="contact-p">Hagos.marketing</p>
                <h2 class="contact-h2">LINKEDLIN</h2>
                <p class="contact-p">Hagos.marketing</p>
            </div>
        </section>
    </main>
</body>

</html>
