<!DOCTYPE html>
<html lang="en">

<body>
    <main>
        <section class="index-first-section">
            <h1 class="company-name-h1">HAGOS MARKETING</h1>
            <button type="button" class="register-btn">Register</button>
        </section>

        <section class="index-headline">
            <h1 class="quote-h1">"This will be where quote will go"</h1>
            <p class="quote-p">no purse as fully me or point. Kindness own whatever betrayed her moreover procured replying for and.
                                   Proposal indulged no do do sociable he throwing settling.</p>
        </section>

        <section class="service-description-section">
            <h1 class="why-work-with-us-h1">WHY WORK WITH US</h1>
            <div class="why-work-with-us-container">
                <img class="service-img-right" src="https://images.unsplash.com/photo-1664575599618-8f6bd76fc670?ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA%3D%3D&auto=format&fit=crop&w=1470&q=80">
                <div class="reason-container">
                <p>no purse as fully me or point. Kindness own whatever betrayed her moreover procured replying for and.
                                       Proposal indulged no do do sociable he throwing settling.</p>
                <p>no purse as fully me or point. Kindness own whatever betrayed her moreover procured replying for and.
                                       Proposal indulged no do do sociable he throwing settling.</p>
                <p>no purse as fully me or point. Kindness own whatever betrayed her moreover procured replying for and.
                                       Proposal indulged no do do sociable he throwing settling.</p>
                </div>

            </div>
        </section>

        <section class="avatar-section">
            <div class="avatar-div"></div>
            <div class="avatar-headline-container">
                <h3>Proposal indulged no do do sociable he throwing settling.</h3>
                <p> - Lorem lpsum</p>
            </div>

        </section>

        <section class="headline-gradient-background-section">
            <div class="subheadlines-div">
                <div class="subheadline-div">
                    <div class="subheadline-icon"></div>
                    <h2>SUBHEADLINE</h2>
                    <p>no purse as fully me or point. Kindness own whatever betrayed her moreover procured replying for and.
                        Proposal indulged no do do sociable he throwing settling. Covered ten nor comfort offices carried.
                        Age she way earnestly the fulfilled extremely. Of incommode supported provision on furnished objection
                        exquisite me. Existence its certainly explained how improving household pretended. Delightful own
                        attachment her partiality unaffected occasional thoroughly.</p>
                </div>
                <div class="subheadline-div">
                    <div class="subheadline-icon"></div>
                    <h2>SUBHEADLINE</h2>
                    <p>no purse as fully me or point. Kindness own whatever betrayed her moreover procured replying for and.
                        Proposal indulged no do do sociable he throwing settling. Covered ten nor comfort offices carried.
                        Age she way earnestly the fulfilled extremely. Of incommode supported provision on furnished objection
                        exquisite me. Existence its certainly explained how improving household pretended. Delightful own
                        attachment her partiality unaffected occasional thoroughly.</p>
                </div>
                <div class="subheadline-div">
                    <div class="subheadline-icon"></div>
                    <h2>SUBHEADLINE</h2>
                    <p>no purse as fully me or point. Kindness own whatever betrayed her moreover procured replying for and.
                        Proposal indulged no do do sociable he throwing settling. Covered ten nor comfort offices carried.
                        Age she way earnestly the fulfilled extremely. Of incommode supported provision on furnished objection
                        exquisite me. Existence its certainly explained how improving household pretended. Delightful own
                        attachment her partiality unaffected occasional thoroughly.</p>
                </div>
            </div>

        </section>

        <section class="headline-section">
            <h1>HEADLINE</h1>
            <h2>PLACEHOLDER TEXT FOR THE SUBHEADLINE</h2>
            <div class="headline-div">
                <p>no purse as fully me or point. Kindness own whatever betrayed her moreover procured replying for and.
                    Proposal indulged no do do sociable he throwing settling. Covered ten nor comfort offices carried.
                    Age she way earnestly the fulfilled extremely. Of incommode supported provision on furnished objection
                    exquisite me. Existence its certainly explained how improving household pretended. Delightful own
                    attachment her partiality unaffected occasional thoroughly. Adieus it no wonder spirit houses.</p>
                <img class="service-img-right" src=https://images.unsplash.com/photo-1664575599736-c5197c684128?ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA%3D%3D&auto=format&fit=crop&w=1470&q=80">
            </div>
        </section>
    </main>
</body>
</html>