:root{
    --color-1:rgb(73,23,214);
    --color-2:rgb(84,96,214);
    --color-3:rgb(80,179,235);
    --color-4:rgb(96,239,255);
    --color-4:rgb(243,243,250);
}

footer {
    /* background-color: var(--color-medium); */
    background: linear-gradient(to top,rgb(73,23,214),rgb(84,96,214));
    color: white;
    display: flex;
    flex-direction: column;
}

.main-footer-nav{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    margin: 0;
    padding: 0;
}

.footer-nav{
    list-style-type: none;
    margin: 0.5rem;
}

.footer-link{
    color: white;
    text-decoration: none;
}

#footer-contact{
    margin: auto;
    padding-top: 1rem;
}
