:root{
    --color-dark:rgb(46, 9, 147);
    --color-medium:rgb(84,96,214);
    --color-light:rgb(96,239,255);
}

header {
    /* background-color: var(--color-medium); */
    background-color: white;
    color: white;
    display: flex;
    flex-direction: column;
}

.nav li {
    display: inline;
}

.header-nav {
    display: inline-block;
    padding: .05em;
    /* color: var(--color-dark); */
    color: black;
    font-size: 85%;
    text-decoration: none;
}

.header-nav:hover {
    /* background-color: rgba(255,255,255,.3); */
    color: var(--color-medium);
}

.main-header-nav {
    text-align: center;
    font-size: 1.1em;
    font-weight: lighter;
    /* border-bottom: 1px solid rgba(255,255,255,.3); */
}

.main-header-nav li {
    padding: 0 3%;
}